*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  background: url('./component/background.jpg') fixed center;
  background-repeat: no-repeat;
  /* background-image: fixed center; */
  scroll-behavior: smooth;
}